# =============================================================================
# GITIGNORE - TERRAFORM PROJECT
# =============================================================================
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log

# Diretório de módulos baixados 
.terraform/
.terraform.lock.hcl

# -----------------------------------------------------------------------------
# Arquivos de Variáveis com Dados Sensíveis
# -----------------------------------------------------------------------------
*.tfvars
*.tfvars.json
!example.tfvars
!terraform.tfvars.example

# -----------------------------------------------------------------------------
# Override Files
# -----------------------------------------------------------------------------
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# -----------------------------------------------------------------------------
# CLI Configuration
# -----------------------------------------------------------------------------
.terraformrc
terraform.rc